#App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Wrapper {
  display: flex;
  flex-flow: column nowrap;
  width: 60%;
  min-width: 500px;
  height: 60%;
  min-height: 365px;
  border-radius: 8px;
  box-shadow: 0 2px 12px 6px rgba(167, 196, 220, 0.5);
  transition: background-color 0.5s ease-in-out;
}

.green-blue {
  background-image: linear-gradient(to bottom, #47e4c1, transparent);
  background-color: #07cddd;
}

.yellow-orange {
  background-image: linear-gradient(to bottom, #e0de35cc, transparent);
  background-color: #eb8704cc;
}

#Sliders {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

@mixin textbox-shared {
  letter-spacing: 0.03rem;
  text-align: center;
}

#Question {
  @include textbox-shared;
  font-size: 1.5rem;
  margin: 20px 0 10px 0;
}

#Answer {
  @include textbox-shared;
  font-size: 1.2rem;
  margin: 10px 0 20px 0;
}
