$slider-height: 45px;
$slider-border-radius: 100px;
$toggle-width: 50%;

.slider-outer {
  width: 50%;
  min-width: 300px;
  height: $slider-height;
  border-radius: $slider-border-radius;
  border: solid 1px #fbfbfb;
  position: relative;
  cursor: pointer;
}

.slider-inner {
  width: $toggle-width;
  height: $slider-height;
  border-radius: $slider-border-radius;
  background-color: rgba(249, 249, 249, 0.5);
  box-shadow: 0 0 6px 1px rgba(1, 115, 101, 0.5);
  transition: transform 0.5s ease-in-out;
}

.right-toggle {
  transform: translateX(100%);
}

.text-left {
  position: absolute;
  width: $toggle-width;
  margin: 0;
  top: 50%;
  transform: translateY(-$toggle-width);
  text-align: center;
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
  box-sizing: border-box;
  padding: 5px;
}

.text-right {
  @extend .text-left;
  right: 0;
}

.covered {
  color: #777;
}
