.slider-outer {
  width: 307px;
  height: 45px;
  border-radius: 100px;
  border: solid 1px #fbfbfb;
  position: relative;
}

.slider-inner {
  width: 163px;
  height: 45px;
  border-radius: 100px;
  background-color: rgba(249, 249, 249, 0.5);
  box-shadow: 0 0 6px 1px rgba(1, 115, 101, 0.5);
  position: absolute;
}

%slider-text {
  position: absolute;
  margin: 0;
  top: 8px;
}

$text-margin: 30px;

.text-left {
  @extend %slider-text;
  left: $text-margin;
}

.text-right {
  @extend %slider-text;
  right: $text-margin;
}
